h6 {
	font-size:1em;
	font-family:Roboto, sans-serif;
	font-weight:normal;
	margin: 10px 0;
}
.bold {
    color:green;
	font-size:2.5em;
	font-family: Montsserat, sans-serif;
	font-weight:bold;
	margin-bottom:5px;
}
.freepik {
	text-decoration:underline;
	text-decoration-thickness: 2px;
	text-decoration-color: green;
}
#navbar {
	align-content:center;
	padding:10px 5vw;
	height:50px; 
	flex-wrap: wrap;
}
#navbar a {
	display:block;
	height:20px;
	width:25px;
}
#navbar img {
	height:20px;
}

.container {
	padding: 15px 0px;
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
	cursor: pointer;
}
.grid {
	display:grid;
	grid-template-columns: 40% auto;
	grid-template-rows:auto;
	background-color: #efeded;
	padding-top: 20px;
	font-family:"Open Sans", sans-serif;
}
.subgrid {
	display:inline-grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 50% auto;
	text-align:center;
}
.subgrid img {
	height:30px;
}
.subgrid div {
	padding: 10px 0 0 0;
}
.item {
	margin: 0 15px 10px 0;
	background-color: white;
	border-radius: 10px;
	font-size:0.8em;
}
.item a {
	border-bottom: 1px;
	font-size:1.5em;
	font-family: Arial, sans-serif;
	color:black;
	text-decoration-thickness: 3px;
	text-decoration-color:green; 
}
.item h3 {
	color:green;
	font-family: Roboto, sans-serif;
	font-size:20px;
}
#feedback {
	margin: 20px 10px;
	display:grid;
	grid-template-columns:auto auto auto auto;
	grid-gap: 10px;
}

#feedback img {
	height:80px;
	width: 80px;
	border-radius: 50%;
	border:3px solid white;
}
.people {
	padding-top: 15%;
	background-color: #efeded;
	border-radius: 4%;
}
#contact {
	display:grid;
	grid:
	'header .'
	'info form'
	'bloc bloc';
	grid-template-rows: 30px auto auto;
	grid-template-columns: 50% auto;
	padding:40px;
	background-color: #efeded;
}

#footer {
	text-align: center;
	padding:20px 0;
	color: white;
	background-color: black;
}

/* Setup the blockquotes of feedback section */
blockquote {
    border:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h3 {
	font-size:13px;
}

blockquote h3:before { 
	content: open-quote;
	font-weight: bold;
	font-size:30px;
} 
blockquote h3:after { 
	content: close-quote;
	font-weight: bold;
	font-size:30px;
  
}
/*setup finished */

/*styling the form */
input[type=text], input[type=email]{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	background-color: #efeded;
}

input[type=submit] {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}